<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twf.customview">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:persistableMode="persistAcrossReboots">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".headzoomscrollview.HeadZoomScrollActivity"
            android:persistableMode="persistAcrossReboots">
        </activity>

        <activity android:name=".imagepull.PullScrollActivity"/>

        <activity android:name=".customview1.TwoIncreasingRadiusActivity"
            android:exported="true"/>

        <activity android:name=".customview2.CustomView2Activity"
            android:exported="true"/>
        <activity android:name=".scrollconflict.ScrollConflictActivity"
            android:exported="true"/>
        <activity android:name=".nestedscrolling.NestedScrollingActivity1"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"/>
        <activity android:name=".nestedscrolling.NestedScrollingActivity2"
            android:exported="true"/>
    </application>

</manifest>